@model FinalProject.Web.Areas.Admin.Models.StudentMarks

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<h4>StudentMarks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionId" class="control-label"></label>
                <input asp-for="SectionId" class="form-control" />
                <span asp-validation-for="SectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicYearId" class="control-label"></label>
                <input asp-for="AcademicYearId" class="form-control" />
                <span asp-validation-for="AcademicYearId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <input asp-for="SubjectId" class="form-control" />
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamId" class="control-label"></label>
                <input asp-for="ExamId" class="form-control" />
                <span asp-validation-for="ExamId" class="text-danger"></span>
            </div>
            @for (var i=0; i<Model.StudentMark.Count; i++)
            {
                <div class="form-group">
                    <label asp-for="@Model.StudentMark[i].Mark" class="control-label"></label>
                    <input asp-for="@Model.StudentMark[i].Mark" class="form-control" />
                    <span asp-validation-for="@Model.StudentMark[i].Mark" class="text-danger"></span>
                </div>
            }
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Present" /> @Html.DisplayNameFor(model => model.Present)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
