@section Title
{
    <title>Marks</title>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Marks</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Marks</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4 text-left">
                            <h2 class="card-title">Filters:</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group row col-md-3">
                            <div class="col-5">
                                <label for="AcademicYearId">Academic Year</label>
                            </div>
                            <div class="col-7">
                                <select id="AcademicYearId" name="AcademicYearId" class="form-control"></select>
                                <span class="text-danger field-validation-valid" data-valmsg-for="AcademicYearId" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group row col-md-3">
                            <div class="col-3">
                                <label class="card-title" for="CourseId">Course</label>
                            </div>
                            <div class="col-9">
                                <select id="CourseId" name="CourseId" class="form-control"></select>
                                <span class="text-danger field-validation-valid" data-valmsg-for="CourseId" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group row col-md-3">
                            <div class="col-3">
                                <label class="card-title" for="SectionId">Section</label>
                            </div>
                            <div class="col-9">
                                <select id="SectionId" name="SectionId" class="form-control"></select>
                                <span class="text-danger field-validation-valid" data-valmsg-for="SectionId" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group row col-2">
                            <div class="col-3">
                                <label class="card-title" for="ExamId">Exam</label>
                            </div>
                            <div class="col-9">
                                <select id="ExamId" name="ExamId" class="form-control"></select>
                                <span class="text-danger field-validation-valid" data-valmsg-for="ExamId" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group col">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" id="getResult" class="btn btn-info">Get Result</button>
                                <button type="button" id="deleteResult" class="btn btn-warning">Delete Result</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <partial name="_DeletePopupPartial" />
                    <div id="markTable"></div>
                    @*
                        <table id="grades" class="text-center table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Rule</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>*@
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

@section scripts
{
    <script src="/AdminPanel/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/AdminPanel/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/marks.js"></script>
}