@{

}

@section Title{
    <title>Report</title>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Student Report</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Report</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4 text-left">
                            <h2 class="card-title">Current Reports</h2>
                        </div>
                        <div class="col-md-8 text-right">
                            <!-- <button type="button" id="addGrade" class="btn btn-outline-primary">Add Grade</button> -->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h3>Student Report Page Not Develop Yet</h3>
                </div>
            </div>
        </div>
    </div>
</section>