@model LoginModel
@{
    ViewData["Title"] = "Login";
}
@section Styles
{
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
}
<section class="login-dark">
    <form asp-action="Login" method="post">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration">
            <i class="icon ion-ios-locked-outline"></i>
        </div>
        <div class="form-group">
            <input class="form-control"
                   asp-for="Email" placeholder="Email" />
        </div>
        <div class="form-group">
            <input class="form-control"
                   asp-for="Password" placeholder="Password" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">
                Log In
            </button>
        </div>
        <a class="forgot" href="#">Forgot your email or password?</a>
    </form>
</section>

@section FooterModel
{
    <div class="bg-green text-red">Footer</div>
}
