@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLTE.cshtml";
}

@section Title
{
    <title>Employees Exams</title>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Employees Exam Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Employees Exam Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4 text-left">
                            <h2 class="card-title">Current Employees Education</h2>
                        </div>
                        <div class="col-md-8 text-right">
                            <a asp-action="Upsert" asp-controller="ExamTitle" asp-area="Employee" class="btn btn-outline-primary">Add Employees Exam Title</a>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="employeesexamtitle" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Exam Title</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

@section scripts
{
    <script src="/AdminPanel/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/AdminPanel/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/employeesexamtitle.js"></script>
}
