@model FinalProject.Web.Areas.Employee.Models.DesignationModel

@{
    ViewData["Title"] = "Create Designation";
    Layout = null;
}
<div class="row">
    <div class="col-md-4">
        <form id="designationForm" asp-action="Upsert">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" type="hidden"/>
            <div class="form-group row">
                <label asp-for="Name" class="col-3"></label>
                <input asp-for="Name" class="form-control col-9" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
