@{
    Layout = "_AdminLTE";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <a href="#" class="small-box-footer">
                <div class="small-box p-3 bg-success">
                    <div class="inner text-center">
                        <h3><i class="fas fa-user-graduate nav-icon"></i></h3>
                        <p>Students</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <a href="#" class="small-box-footer">
                <div class="small-box p-3 bg-secondary">
                    <div class="inner text-center">
                        <h3><i class="fas fa-chalkboard-teacher nav-icon"></i></h3>
                        <p>Teachers</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <a href="#" class="small-box-footer">
                <div class="small-box p-3 bg-warning">
                    <div class="inner text-center">
                        <h3><i class="far fa-check-square nav-icon"></i></h3>
                        <p>Attendance</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <a href="#" class="small-box-footer">
                <div class="small-box p-3 bg-primary">
                    <div class="inner text-center">
                        <h3><i class="fas fa-clipboard nav-icon"></i></h3>
                        <p>Reports</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <a href="#" class="small-box-footer">
                <div class="small-box p-3 bg-warning">
                    <div class="inner text-center">
                        <h3><i class="fas fa-th nav-icon"></i></h3>
                        <p>Classes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <a href="#" class="small-box-footer">
                <div class="small-box p-3 bg-info">
                    <div class="inner text-center">
                        <h3><i class="fas fa-book nav-icon"></i></h3>
                        <p>Subjects</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <a href="#" class="small-box-footer">
                <div class="small-box p-3 bg-success">
                    <div class="inner text-center">
                        <h3><i class="fas fa-diagnoses nav-icon"></i></h3>
                        <p>Exam</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <a href="#" class="small-box-footer">
                <div class="small-box p-3 bg-danger">
                    <div class="inner text-center">
                        <h3><i class="fas fa-briefcase nav-icon"></i></h3>
                        <p>Account</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 col-12">
            <!-- small box -->
            <div class="small-box p-1 bg-primary">
                <h3>Summary</h3>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner text-center">
                    <h3><i class="fas fa-user-graduate nav-icon"></i></h3>
                    <p>Students</p>
                </div>
                <div class="row">
                    <div class="col-8">
                        <ul>
                            <li>Total Student</li>
                            <li>Present</li>
                            <li>Absent</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li>100</li>
                            <li>98</li>
                            <li>2</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-secondary">
                <div class="inner text-center">
                    <h3><i class="fas fa-chalkboard-teacher nav-icon"></i></h3>
                    <p>Teachers</p>
                </div>
                <div class="row">
                    <div class="col-8">
                        <ul>
                            <li>Total Teacher</li>
                            <li>Present</li>
                            <li>Absent</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li>50</li>
                            <li>45</li>
                            <li>5</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner text-center">
                    <h3><i class="fas fa-users nav-icon"></i></h3>
                    <p>Employees</p>
                </div>
                <div class="row">
                    <div class="col-8">
                        <ul>
                            <li>Total Employee</li>
                            <li>Present</li>
                            <li>Absent</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li>60</li>
                            <li>58</li>
                            <li>2</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner text-center">
                    <h3><i class="fas fa-money-bill-alt nav-icon"></i></h3>
                    <p>Accounts</p>
                </div>
                <div class="row">
                    <div class="col-7">
                        <ul class="">
                            <li>Current Balance</li>
                            <li>Current Month Expense</li>
                        </ul>
                    </div>
                    <div class="col-5">
                        <ul>
                            <li>1000000</li>
                            <li>980000</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>