.uploader {
    position: relative;
    overflow: hidden;
    width: 220px;
    height: 200px;
    background: #f3f3f3;
    border: 2px dashed #e8e8e8;
}

#filePhoto {
    position: absolute;
    width: 220px;
    height: 200px;
    top: -0px;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.uploader img {
    position: absolute;
    width: 220px;
    height: 200px;
    top: -1px;
    left: -1px;
    z-index: 1;
    border: none;
}