@model FinalProject.Web.Areas.Admin.Models.MarkDistribution

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Mark" class="control-label"></label>
    <input asp-for="Mark" class="form-control" />
    <span asp-validation-for="Mark" class="text-danger"></span>
</div>