@model GradeModel

@{
    ViewData["subtitle"] = "Add Grade";
}

<div class="modal-header">
    <h4 class="modal-title">@ViewData["subtitle"]</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="gradeFrom" asp-antiforgery="true" method="post" enctype="multipart/form-data" asp-action="Upsert">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="form-group col row">
                <div class="col-2">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group text-center  col">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th>Point</th>
                            <th>Marks From</th>
                            <th>Marks UpTo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Rules.Count; i++)
                        {
                            <partial name="_GradeEdit" for="@Model.Rules[i]" />
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <div class="form-group row mb-0">
        <div class="col-6 text-left">
            @if (Model.Id == new Guid())
            {
                <button type="button" id="gradeSubmit" class="btn btn-primary">Create</button>
            }
            else
            {
                <button type="button" id="gradeSubmit" class="btn btn-warning">Update</button>
            }
        </div>
    </div>
</div>