@model StudentAttendanceModel

@section Title
{
    <title>Student Attendance</title>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Student Attendance</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Attendance</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="form-group row col-3">
                            <div class="col-4">
                                <label asp-for="CourseId"></label>
                            </div>
                            <div class="col-8">
                                <select style="width: 100%" asp-for="CourseId" asp-items="Model.CourseList" class="form-control"></select>
                                <span asp-validation-for="CourseId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row col-2">
                            <div class="col-4">
                                <label asp-for="SectionId"></label>
                            </div>
                            <div class="col-8">
                                <select style="width: 100%" asp-for="SectionId" asp-items="Model.SectionList" class="form-control"></select>
                                <span asp-validation-for="SectionId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row col-2">
                            <input id="currentDate" class="form-control" type="date" readonly="readonly" />
                        </div>
                        <div class="form-group row col-1">
                            <button id="getAttendance" class="btn btn-primary">Get Attendance</button>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="attendanceTable" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Student Name</th>
                            <th>Roll No</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

@section Scripts
{
    <script src="/AdminPanel/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/AdminPanel/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script type="text/javascript">
        var date = new Date();
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;

        $("#currentDate").val(today);

        populateSection($("#CourseId").val());
        $("#CourseId").select2({
            width: 'resolve'
        });

        $("#SectionId").select2({
            width: 'resolve'
        });
        
        $("#CourseId").change(function () {
            populateSection(this.value);
        });

        function populateSection(courseId) {
            $.ajax({
                method: "GET",
                url: "Attendance/GetSectionsByCourse?courseId=" + courseId
            }).done(function (data) {
                var s = "";
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].value + '">' + data[i].text + '</option>';
                }
                $("#SectionId").html(s);
            }).fail(function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            });
        }

        $("#getAttendance").click(function() {
            $('#attendanceTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "Attendance/GetStudents?courseId=" + $("#CourseId").val() + "&sectionId=" + $("#SectionId").val(),
                "columnDefs": [
                    {
                        
                    }
                ]
            });
        });
    </script>
}
