@using Foundation.Library.Entities
@using Foundation.Library.Enums
@model FinalProject.Web.Areas.Employee.Models.EmployeeEducationModel

@{
    ViewData["Title"] = "Upsert";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}

<h1>Upsert</h1>

<h4>EmployeeEducationModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
        <form class="form-horizontal" asp-antiforgery="true" method="post" enctype="multipart/form-data"
              asp-controller="EmployeeEducation" asp-area="Employee" asp-action="Upsert">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" type="hidden" />
            <div class="form-group">
                <label asp-for="EducationLevelId" ></label>
                <select asp-for="EducationLevelId" asp-items="Model.EducationLevelList" class="form-control"></select>
                <span asp-validation-for="EducationLevelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamTitleId" ></label>
                <select asp-for="ExamTitleId" asp-items="Model.ExamTitleList" class="form-control"></select>
                <span asp-validation-for="ExamTitleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Major" ></label>
                <input asp-for="Major" class="form-control" />
                <span asp-validation-for="Major" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstituteName" ></label>
                <input asp-for="InstituteName" class="form-control" />
                <span asp-validation-for="InstituteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultType" ></label>
                <select asp-for="ResultType" asp-items="Html.GetEnumSelectList<ResultType>()" class="form-control" ></select>
                <span asp-validation-for="ResultType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cgpa" ></label>
                <input asp-for="Cgpa" class="form-control" />
                <span asp-validation-for="Cgpa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scale" ></label>
                <input asp-for="Scale" class="form-control" />
                <span asp-validation-for="Scale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marks" ></label>
                <input asp-for="Marks" class="form-control" />
                <span asp-validation-for="Marks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassingYear" ></label>
                <input asp-for="PassingYear" class="form-control" />
                <span asp-validation-for="PassingYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" ></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achievement" ></label>
                <input asp-for="Achievement" class="form-control" />
                <span asp-validation-for="Achievement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" ></label>
                <select asp-for="EmployeeId" asp-items="Model.EmployeeList" class="form-control"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

