@model StudentFormViewModel
<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group col">
        <label asp-for="ParentsInfo.FatherName" class="control-label"></label>
        <input asp-for="ParentsInfo.FatherName" class="form-control" />
        <span asp-validation-for="ParentsInfo.FatherName" class="text-danger"></span>
    </div>
    <div class="form-group col">
        <label asp-for="ParentsInfo.MotherName" class="control-label"></label>
        <input asp-for="ParentsInfo.MotherName" class="form-control" />
        <span asp-validation-for="ParentsInfo.MotherName" class="text-danger"></span>
    </div>
    <div class="form-group col">
        <label asp-for="ParentsInfo.GuardianName" class="control-label"></label>
        <input asp-for="ParentsInfo.GuardianName" class="form-control" />
        <span asp-validation-for="ParentsInfo.GuardianName" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="form-group col">
        <label asp-for="ParentsInfo.FatherMobileNo" class="control-label"></label>
        <input asp-for="ParentsInfo.FatherMobileNo" class="form-control" />
        <span asp-validation-for="ParentsInfo.FatherMobileNo" class="text-danger"></span>
    </div>
    <div class="form-group col">
        <label asp-for="ParentsInfo.MotherMobileNo" class="control-label"></label>
        <input asp-for="ParentsInfo.MotherMobileNo" class="form-control" />
        <span asp-validation-for="ParentsInfo.MotherMobileNo" class="text-danger"></span>
    </div>
    <div class="form-group col">
        <label asp-for="ParentsInfo.GuardianMobileNo" class="control-label"></label>
        <input asp-for="ParentsInfo.GuardianMobileNo" class="form-control" />
        <span asp-validation-for="ParentsInfo.GuardianMobileNo" class="text-danger"></span>
    </div>
</div>