@using Foundation.Library.Enums
@model StudentFormViewModel

@{
    ViewData["Title"] = "Student Application";
    ViewData["subtitle"] = "Addmission Form";
    Layout = "_StudentLayout";
    if (Model.Id != new Guid())
    {
        //edit
        ViewData["Title"] = "Update Student Application";
    }
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title text-center">@ViewData["Title"]</h3>
            </div>
            <form class="form-horizontal" asp-antiforgery="true" method="post" enctype="multipart/form-data" asp-action="Upsert">
                @if (Model.Id != new Guid())
                {
                    <input type="hidden" asp-for="Id" />
                }
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <label class="text-info font-weight-bold">Students Info</label>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label asp-for="FirstName" ></label>
                                        <input asp-for="FirstName" class="form-control" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label asp-for="MiddleName" ></label>
                                        <input asp-for="MiddleName" class="form-control" />
                                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label asp-for="LastName" ></label>
                                        <input asp-for="LastName" class="form-control" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label asp-for="DateOfBirth" ></label>
                                        <input asp-for="DateOfBirth" class="form-control" />
                                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label asp-for="Gender" ></label>
                                        <select class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label asp-for="Religion" ></label>
                                        <select class="form-control" asp-for="Religion" asp-items="Html.GetEnumSelectList<Religion>()"></select>
                                        <span asp-validation-for="Religion" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label asp-for="BirthCertificateNo" ></label>
                                    <input asp-for="BirthCertificateNo" class="form-control" />
                                    <span asp-validation-for="BirthCertificateNo" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="NationalIdentificationNo" ></label>
                                    <input asp-for="NationalIdentificationNo" class="form-control" />
                                    <span asp-validation-for="NationalIdentificationNo" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="MobileNo" ></label>
                                    <input asp-for="MobileNo" class="form-control" />
                                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="Nationality" ></label>
                                    <input asp-for="Nationality" class="form-control" />
                                    <span asp-validation-for="Nationality" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="Photo" ></label>
                                    <input asp-for="Photo" onchange="readURL(this);" class="form-control-file" />
                                    <span asp-validation-for="Photo" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <div id="previewstudentphoto" style="height: 200px; width: 220px;" class="border">
                                        @if (Model.ImagePath != null)
                                        {
                                            <img id="blah" style="width: 220px; height: 200px;" src="@Model.ImagePath" alt="Student Photo">
                                        }
                                        else
                                        {
                                            <img id="blah" style="width: 220px; height: 200px;" src="#" alt="Student Photo">
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="text-info font-weight-bold">Guardians Info</label>
                                    <partial name="_ParentsFromView" model="Model" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="text-info font-weight-bold">Present Address</label>
                                    <partial name="_PresentAddressFormVIew" for="PresentAddress" />
                                </div>
                                <div class="col">
                                    <label class="text-info font-weight-bold">Permanent Address</label>
                                    <partial name="_PermanentAddressFormVIew" for="PermanentAddress" />
                                </div>
                            </div>
                            <label class="text-info font-weight-bold">Academic Info</label>
                            <div class="row">
                                <div class="form-group col">
                                    <label >Course</label>
                                    <select asp-for="CourseId" asp-items="Model.EnrollCourse" class="form-control"></select>
                                    <span asp-validation-for="CourseId" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label for="SubjectModels" class="text-info font-weight-bold">Subjects</label>
                                    @foreach (var item in Model.SubjectModels)
                                    {
                                        <div class="d-inline">@item.Name,</div>
                                    }
                                    <span asp-validation-for="SubjectModels" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group row mb-0">
                        <div class="col text-center">
                            @if (Model.Id == new Guid())
                            {
                                <input type="submit" value="Application Submit" class="btn btn-lg btn-outline-primary" />
                            }
                            else
                            {
                                <input type="submit" value="Application Update" class="btn btn-lg btn-outline-warning" />
                            }
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var imageTag = document.getElementById('blah');
        imageTag.style.border = "2px solid";
        imageTag.style.paddingTop = "100px";
        imageTag.style.paddingBottom = "100px";
        imageTag.style.paddingLeft = "75px";
        imageTag.style.paddingRight = "75px";
        if (imageTag.src !== "#") {
            imageTag.style.removeProperty('padding');
            imageTag.style.removeProperty('border');
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('blah').style.removeProperty('padding');
                    document.getElementById('blah').style.removeProperty('border');
                    document.getElementById('blah').src = e.target.result;
                    document.getElementById('blah').width = 220;
                    document.getElementById('blah').height = 200;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
