@model StudentFormModel

@{
    ViewData["Title"] = "Student Application";
    Layout = "_StudentLayout";
}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title text-center">@ViewData["Title"]</h3>
            </div>
            <form class="form-horizontal" asp-antiforgery="true" method="post" enctype="multipart/form-data" asp-action="Upsert">
                <div class="card-body row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-8">
                        <label class="control-label">Students Info</label>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input asp-for="FirstName" class="form-control"/>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="MiddleName" class="control-label"></label>
                                    <input asp-for="MiddleName" class="form-control" />
                                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="DateOfBirth" class="control-label"></label>
                            <input asp-for="DateOfBirth" class="form-control"/>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            <input asp-for="Gender" class="form-control"/>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BirthCertificateNo" class="control-label"></label>
                            <input asp-for="BirthCertificateNo" class="form-control"/>
                            <span asp-validation-for="BirthCertificateNo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NationalIdentificationNo" class="control-label"></label>
                            <input asp-for="NationalIdentificationNo" class="form-control"/>
                            <span asp-validation-for="NationalIdentificationNo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MobileNo" class="control-label"></label>
                            <input asp-for="MobileNo" class="form-control"/>
                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nationality" class="control-label"></label>
                            <input asp-for="Nationality" class="form-control"/>
                            <span asp-validation-for="Nationality" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Course</label>
                            <select asp-for="CourseId" asp-items="Model.EnrollCourse" class="form-control"></select>
                            <span asp-validation-for="CourseId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="YearOfEnroll" class="control-label"></label>
                            <input asp-for="YearOfEnroll" class="form-control"/>
                            <span asp-validation-for="YearOfEnroll" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Photo" class="control-label"></label>
                            <input asp-for="Photo" onchange="readURL(this);" class="form-control"/>
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                        <div id="previewstudentphoto"></div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label>Present Address</label>
                            <partial name="_AddressFormVIew" model="Model.PresentAddress" />
                        </div>
                        <div>
                            <label>Permanent Address</label>

                            <partial name="_AddressFormVIew" model="Model.PresentAddress" />
                        </div>
                        <div>
                            <div>
                                <label class="text-bold">Parents Info</label>
                            </div>
                            <partial name="_ParentsFromView" model="Model" />
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group row mb-0">
                        <div class="col-6 text-left">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                        <div class="col-6 text-right">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="col-md-1"></div>
</div>

@section Scripts
{
    <script>
        
        var image = document.createElement('img'); 
        image.id = "blah";
        var selectDiv = document.getElementById('previewstudentphoto');

        selectDiv.appendChild(image);

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                console.log(reader);
                reader.onload = function (e) {
                    document.getElementById('blah').src = e.target.result;
                    document.getElementById('blah').width = 150;
                    document.getElementById('blah').height = 200;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
