@model DepartmentModel

@{
    ViewData["subtitle"] = "Add Department";
    if (Model.Id != new Guid())
    {
        //edit
        ViewData["subtitle"] = "Update Department Information";
    }
}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title text-center">@ViewData["subtitle"]</h3>
            </div>
        </div>
        <form class="form-horizontal" asp-antiforgery="true" method="post" enctype="multipart/form-data" asp-action="Upsert">
            <div class="card-body row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-6">
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Name"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group row mb-0">
                    <div class="col-6 text-left">
                        <input type="submit" value="Add" class="btn btn-primary" />
                    </div>
                    <div class="col-6 text-right">
                        <a asp-area="Admin" asp-controller="Department" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>