@model AcademicYearModel
@{
    ViewData["subtitle"] = "Add Academic Year";
}
<div class="modal-header">
    <h4 class="modal-title">@ViewData["subtitle"]</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="academicYearForm" asp-antiforgery="true" method="post" enctype="multipart/form-data" asp-action="Upsert">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" type="hidden"/>
        <div class="row">
            <div class="col-6">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="StartDate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="StartDate" type="Date" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="EndDate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="EndDate" type="Date" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <div class="col-8">
                        <label for="IsOpenForAdmission">Is Open For Admission</label>
                    </div>
                    <div class="col-4">
                        <input asp-for="IsOpenForAdmission" class="form-control" />
                        <span asp-validation-for="IsOpenForAdmission" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <label asp-for="Status"></label>
                    </div>
                    <div class="col-4">
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" id="academicYearSubmit" class="btn btn-primary">@(Model.Id != new Guid() ? "Update": "Create") </button>
</div>