@model ParentsModel
<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group col">
        <label asp-for="FatherName" ></label>
        <input asp-for="FatherName" class="form-control" />
        <span asp-validation-for="FatherName" class="text-danger"></span>
    </div>
    <div class="form-group col">
        <label asp-for="MotherName" ></label>
        <input asp-for="MotherName" class="form-control" />
        <span asp-validation-for="MotherName" class="text-danger"></span>
    </div>
    <div class="form-group col">
        <label asp-for="GuardianName" ></label>
        <input asp-for="GuardianName" class="form-control" />
        <span asp-validation-for="GuardianName" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="form-group col">
        <label asp-for="FatherMobileNo" ></label>
        <input asp-for="FatherMobileNo" class="form-control" />
        <span asp-validation-for="FatherMobileNo" class="text-danger"></span>
    </div>
    <div class="form-group col">
        <label asp-for="MotherMobileNo" ></label>
        <input asp-for="MotherMobileNo" class="form-control" />
        <span asp-validation-for="MotherMobileNo" class="text-danger"></span>
    </div>
    <div class="form-group col">
        <label asp-for="GuardianMobileNo" ></label>
        <input asp-for="GuardianMobileNo" class="form-control" />
        <span asp-validation-for="GuardianMobileNo" class="text-danger"></span>
    </div>
</div>