@model SubjectModel

@{
    ViewData["subtitle"] = "Add Subject";
}
<div class="modal-header">
    <h4 class="modal-title">@ViewData["subtitle"]</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="box-header">
        <div class="callout callout-danger">
            <p><b>Note:</b> Create <strong>Class</strong> before create new Subject.</p>
        </div>
    </div>
    <form class="form-horizontal" id="subjectForm" asp-antiforgery="true" method="post" enctype="multipart/form-data" asp-action="Upsert">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" type="hidden" />
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-2">
                        <label for="CourseId">Class</label>
                    </div>
                    <div class="col-10">
                        <select style="width: 100%;" asp-for="CourseId" asp-items="Model.CourseList" class="form-control"></select>
                        <span asp-validation-for="CourseId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-10">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Code"></label>
                    </div>
                    <div class="col-10">
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group row">
                    <div class="col-7">
                        <label asp-for="Type"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="Type" class="form-control" />
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-7">
                        <label asp-for="ExcludeInResult"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="ExcludeInResult" class="form-control" />
                        <span asp-validation-for="ExcludeInResult" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" id="submitSubject" class="btn btn-primary">@(Model.Id != new Guid() ? "Update": "Create") </button>
</div>