@model ExamRulesModel

@{
    ViewData["subtitle"] = "Add ExamRule";
}
<div class="modal-header">
    <h4 class="modal-title">@ViewData["subtitle"]</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="examRuleForm" asp-antiforgery="true" method="post" enctype="multipart/form-data" asp-action="Upsert">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" type="hidden" />
        <div class="row">
            <div class="form-group row col">
                <div class="col-3">
                    <label asp-for="CourseId"></label>
                </div>
                <div class="col-9">
                    <select asp-for="CourseId" asp-items="Model.CourseList" class="form-control"></select>
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row col">
                <div class="col-3">
                    <label asp-for="SubjectId"></label>
                </div>
                <div class="col-9">
                    <select asp-for="SubjectId" asp-items="Model.SubjectList" class="form-control"></select>
                    <span asp-validation-for="SubjectId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row col">
                <div class="col-3">
                    <label asp-for="ExamId"></label>
                </div>
                <div class="col-9">
                    <select asp-for="ExamId" asp-items="Model.ExamList" class="form-control"></select>
                    <span asp-validation-for="ExamId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group row col">
                <div class="col-3">
                    <label asp-for="GradeId"></label>
                </div>
                <div class="col-9">
                    <select asp-for="GradeId" asp-items="Model.GradeList" class="form-control"></select>
                    <span asp-validation-for="GradeId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row col">
                <div class="col-7">
                    <label asp-for="TotalExamMarks"></label>
                </div>
                <div class="col-5">
                    <input readonly="readonly" asp-for="TotalExamMarks" class="form-control" />
                    <span asp-validation-for="TotalExamMarks" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row col">
                <div class="col-5">
                    <label asp-for="PassMarks"></label>
                </div>
                <div class="col-5">
                    <input readonly="readonly" asp-for="PassMarks" class="form-control" />
                    <span asp-validation-for="PassMarks" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <label class="text-info font-weight-bold">Marks Distributions</label>
            <table class="table text-center table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Total Marks</th>
                        <th>Pass Marks</th>
                    </tr>
                </thead>
                <tbody id="marksdistributionbody">
                    @if (Model.DistributionModels != null)
                    {
                        for (var i = 0; i < Model.DistributionModels.Count; i++)
                        {
                            <tr class="text-center">
                                <td class="w-25">
                                    @Model.DistributionModels[i].DistributionType
                                </td>
                                <td class="w-25">
                                    <input asp-for="@Model.DistributionModels[i].TotalMarks" class="form-control" />
                                </td>
                                <td class="w-25">
                                    <input asp-for="@Model.DistributionModels[i].PassMarks" class="form-control" />
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <div class="form-group row mb-0">
        <div class="col-6 text-left">
            @if (Model.Id == new Guid())
            {
                <button type="button" id="examRuleSubmit" class="btn btn-primary">Create</button>
            }
            else
            {
                <button type="button" id="examRuleSubmit" class="btn btn-warning">Update</button>
            }
        </div>
    </div>
</div>
