<div id="InfoDiv" class="container-fluid">
    <div class="row">
        <div class="col col-md-3 text-center p-5 text-white"
             style="background: var(--blue)">
            <h1>Admission<br /></h1>
            <p>
                We have students coming from different backgrounds, cultures, and
                nationalities as well. More than 500 international students are
                enrolled in various programs.<br />
            </p>
        </div>
        <div class="col col-md-3 text-center p-5 text-white"
             style="background: var(--cyan)">
            <h1>Departments</h1>
            <p>
                We have students coming from different backgrounds, cultures, and
                nationalities as well. More than 500 international students are
                enrolled in various programs.<br />
            </p>
        </div>
        <div class="col col-md-3 text-center p-5 text-white"
             style="background: var(--success)">
            <h1>Tuition Fees<br /></h1>
            <p>
                We have students coming from different backgrounds, cultures, and
                nationalities as well. More than 500 international students are
                enrolled in various programs.<br />
            </p>
        </div>
        <div class="col col-md-3 text-center p-5 text-white"
             style="background: var(--purple)">
            <h1>Scholarship<br /></h1>
            <p>
                We have students coming from different backgrounds, cultures, and
                nationalities as well. More than 500 international students are
                enrolled in various programs.<br />
            </p>
        </div>
    </div>
</div>