@model List<FinalProject.Web.Areas.Administrative.Models.FeatureInfoModel>

<div id="InfoDiv" class="container-fluid">
    <div class="row">
        @for (var i = 0; i < Model.Count; i++) { 
            <div class="col col-md-3 text-center p-5 text-white" style="@(i%2==0?"background: var(--blue)":"background: var(--cyan)")">
                <h1>@Model[i].Heading<br /></h1>
                <p>@Model[i].Description</p>
            </div>
        }
    </div>
</div>