@model List<FinalProject.Web.Areas.Administrative.Models.SliderModel>

@*<nav class="navbar navbar-light navbar-expand-md sticky-top text-left bg-light" style="height: 100px">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">School Logo And Name</a><button
             data-toggle="collapse"
             class="navbar-toggler"
             data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/" style="font-size: 16px;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Classes">Class</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Teachers">Teachers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="ContactUs">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>*@

<div id="slider">
    <div class="carousel slide" data-ride="carousel" id="carousel-1">
        <div class="carousel-inner">
            @for(var i =0; i < Model.Count; i++)
            {
                <div class="carousel-item @(i==0? "active":"")">
                    <img
                        class="w-100 d-block"
                        alt="Slide Image"
                        src="@Model[i].ImageUrl"
                    />
                    <div class="bg-white text-dark d-inline-block carousel-caption mb-3" style="opacity: 0.5">
                        <h3>@Model[i].Heading</h3>
                        <p>@Model[i].SubHeading</p>
                    </div>
                </div>
            }
        </div>
        <div>
            <a
                class="carousel-control-prev"
                href="#carousel-1"
                role="button"
                data-slide="prev"
            ><span class="carousel-control-prev-icon"></span
            ><span class="sr-only">Previous</span></a
            ><a
                 class="carousel-control-next"
                 href="#carousel-1"
                 role="button"
                 data-slide="next"
             ><span class="carousel-control-next-icon"></span
            ><span class="sr-only">Next</span></a
            >
        </div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
        </ol>
    </div>
</div>