@model FinalProject.Web.Areas.Administrative.Models.TestimonialsModel

<section class="testimonials-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Testimonials</h2>
            <p class="text-center">
                Our customers love us! Read what they have to say below. Aliquam sed
                justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.
            </p>
        </div>
        <div class="row people">
            @foreach (var item in Model.TestimonialItemModels)
            {
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">
                            @item.Description
                        </p>
                    </div>
                    <div class="author">
                        <img class="rounded-circle" src="assets/img/1.jpg" />
                        <h5 class="name">@item.Name</h5>
                        <p class="title">@item.Subtitle</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>