@{
    ViewData["Title"] = "Gallery";
}
<div class="container mt-3">
    <div class="intro">
        <h2 class="text-center">Gallery</h2>
        <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
    </div>
    <div class="row photos">
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="padding-bottom: 30px;">
            <a data-lightbox="photos" href="assets/img/desk.jpg">
                <img class="img-fluid" src="/assets/img/desk.jpg" />
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="padding-bottom: 30px;">
            <a data-lightbox="photos" href="assets/img/building.jpg">
                <img class="img-fluid" src="/assets/img/building.jpg" />
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="padding-bottom: 30px;">
            <a data-lightbox="photos" href="assets/img/loft.jpg">
                <img class="img-fluid" src="/assets/img/loft.jpg" />
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="padding-bottom: 30px;">
            <a data-lightbox="photos" href="assets/img/building.jpg">
                <img class="img-fluid" src="/assets/img/building.jpg" />
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="padding-bottom: 30px;">
            <a data-lightbox="photos" href="assets/img/loft.jpg">
                <img class="img-fluid" src="/assets/img/loft.jpg" />
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="padding-bottom: 30px;">
            <a data-lightbox="photos" href="assets/img/desk.jpg">
                <img class="img-fluid" src="/assets/img/desk.jpg" />
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="padding-bottom: 30px;">
            <a data-lightbox="photos" href="assets/img/desk.jpg">
                <img class="img-fluid" src="/assets/img/desk.jpg" />
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="padding-bottom: 30px;">
            <a data-lightbox="photos" href="assets/img/desk.jpg">
                <img class="img-fluid" src="/assets/img/desk.jpg" />
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <nav class="text-center">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>