@{
    ViewData["Title"] = "Teachers";
}
<section class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Teachers</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>
        <div class="row teachers">
            <div class="col-sm-6 col-md-6 col-lg-6 item">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <div class="card-img" style="background-image: url('/assets/img/3.jpg'); background-size: cover; height: 100%; background-repeat: no-repeat; background-position: center;"></div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4>Mr. Ahmed</h4><h6 class="text-muted mb-2">Lecturer</h6>
                                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a href="#">Link</a><a href="#">Link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 item">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <div class="card-img" style="background-image: url('/assets/img/1.jpg'); background-size: cover; height: 100%; background-repeat: no-repeat; background-position: center;"></div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4>Mr. Rasel</h4><h6 class="text-muted mb-2">Senior Lecturer</h6>
                                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a href="#">Link</a><a href="#">Link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="row">
            <div class="col">
                <nav class="text-center">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
