@section Title
{
    <title>Exam</title>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Exams</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Exams</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4 text-left">
                            <h2 class="card-title">Current Exams</h2>
                        </div>
                        <div class="col-md-8 text-right">
                            <button id="addExam" class="btn btn-outline-primary">Add Exam</button>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <partial name="_DeletePopupPartial" />
                    <table id="exams" class="text-center table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Exam Title</th>
                                <th>Marks Distribution Type</th>
                                <th>Open For Marks Entry</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<div class="modal fade bd-example-modal-lg" id="modal-exam" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="contentArea">

        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

@section scripts
{
    <script src="/AdminPanel/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/AdminPanel/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/exams.js"></script>
    <script type="text/javascript">
        lc_switch('#Status');
    </script>
}
