@using Foundation.Library.Enums
@using Membership.Library.Entities
@model EmployeeFormViewModel
@{
    ViewData["Title"] = "Employee Application";
    ViewData["subtitle"] = "Employee Form";
    ViewData["Info"] = "Employee Info";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
    if (Model.Id != new Guid())
    {
        //edit
        ViewData["Title"] = "Update Employee Application";
    }

}
@section Styles
{
    <link href="~/css/chosen.min.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title text-center">@ViewData["Title"]</h3>
            </div>
            <form asp-antiforgery="true" method="post" enctype="multipart/form-data" asp-action="Upsert">
                @if (Model.Id != new Guid())
                {
                    <input type="hidden" asp-for="Id" />
                }
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label asp-for="Name"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label asp-for="Nid"></label>
                                        <input asp-for="Nid" class="form-control" />
                                        <span asp-validation-for="Nid" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="MobileNo"></label>
                                    <input asp-for="MobileNo" class="form-control" />
                                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label for="DesignationId">Designation</label>
                                    <select asp-for="DesignationId" asp-items="Model.DesignationList" class="form-control"></select>
                                    <span asp-validation-for="DesignationId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label asp-for="Gender"></label>
                                        <select class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label asp-for="Religion"></label>
                                        <select class="form-control" asp-for="Religion" asp-items="Html.GetEnumSelectList<Religion>()"></select>
                                        <span asp-validation-for="Religion" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="MaritalStatus"></label>
                                    <select class="form-control" asp-for="MaritalStatus" asp-items="Html.GetEnumSelectList<MaritalStatus>()"></select>
                                    <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="Qualifications"></label>
                                    <select multiple asp-for="Qualifications" asp-items="Model.QualificationType" class="chosen form-control">
                                    </select>
                                    <span asp-validation-for="Qualifications" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="Role"></label>
                                    <select class="form-control" asp-for="Role" asp-items="Html.GetEnumSelectList<RoleType>()"></select>
                                    <span asp-validation-for="Role" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-4">
                                    <div id="previewstudentphoto" style="height: 200px;" class="border">
                                        @if (Model.ImagePath != null)
                                        {
                                            <img id="blah" style="width: 220px; height: 200px;" src="@Model.ImagePath" alt="Photo">
                                        }
                                        else
                                        {
                                            <img id="blah" style="width: 220px; height: 200px;" src="#" alt="Photo">
                                        }
                                    </div>

                                    <div class="form-group col" style="position: relative; top: -35px;">
                                        <div class="custom-file">
                                            <input asp-for="Photo" onchange="readURL(this);" class="custom-file-input" required>
                                            <label class="custom-file-label" asp-for="Photo">Choose file...</label>
                                            <span asp-validation-for="Photo" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label for="DateOfBirth">Date Of Birth</label>
                                    <input asp-for="DateOfBirth" type="date" class="form-control" />
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label for="IdCardNo">ID Card No</label>
                                    <input asp-for="IdCardNo" class="form-control" />
                                    <span asp-validation-for="IdCardNo" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label for="JoinOfDate">Join Of Date</label>
                                    <input asp-for="JoinOfDate" type="date" class="form-control" />
                                    <span asp-validation-for="JoinOfDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="Shift"></label>
                                    <select asp-for="Shift" asp-items="Html.GetEnumSelectList<WorkShift>()" class="form-control"></select>
                                    <span asp-validation-for="Shift" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="PermanentAddress">Present Address</label>
                                    <partial name="~/Areas/Student/Views/Home/_PermanentAddressFormVIew.cshtml" for="PermanentAddress" />
                                </div>
                                <div class="col">
                                    <label for="PresentAddress">Permanent Address</label>
                                    <partial name="~/Areas/Student/Views/Home/_PresentAddressFormVIew.cshtml" for="PresentAddress" />
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="form-group col-2">
                                    <label for="UserName">Username</label>
                                    <input asp-for="UserName" class="form-control" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-2">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group row mb-0">
                        <div class="col text-center">
                            @if (Model.Id == new Guid())
                            {
                                <input type="submit" value="Application Submit" class="btn btn-lg btn-outline-primary" />
                            }
                            else
                            {
                                <input type="submit" value="Application Update" class="btn btn-lg btn-outline-warning" />
                            }
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

@section Scripts
{
    
    <script>
        //$(".chosen").chosen({ width: "100%", display_disabled_options: true, placeholder_text_multiple: "Select Your Qualifications" });
        $(".chosen").select2({
            closeOnSelect: true,
            placeholder: "Qualifications",
            allowClear: true
        });

        var imageTag = document.getElementById('blah');
        imageTag.style.border = "2px solid";
        imageTag.style.paddingTop = "100px";
        imageTag.style.paddingBottom = "100px";
        imageTag.style.paddingLeft = "75px";
        imageTag.style.paddingRight = "75px";
        if (imageTag.src !== "#") {
            imageTag.style.removeProperty('padding');
            imageTag.style.removeProperty('border');
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('blah').style.removeProperty('padding');
                    document.getElementById('blah').style.removeProperty('border');
                    document.getElementById('blah').src = e.target.result;
                    document.getElementById('blah').width = 220;
                    document.getElementById('blah').height = 200;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
