@using Foundation.Library.Enums
@using Membership.Library.Entities
@model EmployeeFormViewModel
@{
    ViewData["Title"] = "Employee Application";
    ViewData["subtitle"] = "Employee Form";
    ViewData["Info"] = "Employee Info";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
    if (Model.Id != new Guid())
    {
        //edit
        ViewData["Title"] = "Update Employee Application";
    }

}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title text-center">@ViewData["Title"]</h3>
            </div>
            <form class="form-horizontal" asp-antiforgery="true" method="post" enctype="multipart/form-data"
                  asp-controller="Home" asp-area="Employee" asp-action="Upsert">
                @if (Model.Id != new Guid())
                {
                    <input type="hidden" asp-for="Id" />
                }
            <div class="card-body row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FatherName" class="control-label"></label>
                        <input asp-for="FatherName" class="form-control" />
                        <span asp-validation-for="FatherName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MotherName" class="control-label"></label>
                        <input asp-for="MotherName" class="form-control" />
                        <span asp-validation-for="MotherName" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label asp-for="Gender" class="control-label"></label>
                            <select class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label asp-for="Religion" class="control-label"></label>
                            <select class="form-control" asp-for="Religion" asp-items="Html.GetEnumSelectList<Religion>()">
                            </select>
                            <span asp-validation-for="Religion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nid" class="control-label"></label>
                        <input asp-for="Nid" class="form-control" />
                        <span asp-validation-for="Nid" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MobileNo" class="control-label"></label>
                        <input asp-for="MobileNo" class="form-control" />
                        <span asp-validation-for="MobileNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PresentAddress" class="control-label"></label>
                        <input asp-for="PresentAddress" class="form-control" />
                        <span asp-validation-for="PresentAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PermanentAddress" class="control-label"></label>
                        <input asp-for="PermanentAddress" class="form-control" />
                        <span asp-validation-for="PermanentAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaritalStatus" class="control-label"></label>
                        <select class="form-control" asp-for="MaritalStatus" asp-items="Html.GetEnumSelectList<MaritalStatus>()">
                        </select>
                        <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Nationality" class="control-label"></label>
                        <input asp-for="Nationality" class="form-control" />
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Role" class="control-label"></label>
                        <select class="form-control" asp-for="Role" asp-items="Html.GetEnumSelectList<RoleType>()">
                        </select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JoinOfDate" class="control-label"></label>
                        <input asp-for="JoinOfDate" class="form-control" />
                        <span asp-validation-for="JoinOfDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" onchange="readURL(this);" class="form-control" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div id="previewstudentphoto">

                        @if (Model.ImagePath != null)
                        {
                            <img id="blah" style="width: 150px; height: 200px;" src="@Model.ImagePath" alt="Student Photo">
                        }
                        else
                        {
                            <img id="blah" style="width: 150px; height: 200px;" src="#" alt="Student Photo">
                        }
                    </div>
                </div>
            </div>
                <div class="card-footer">
                    <div class="form-group row mb-0">
                        <div class="col-6 text-left">
                            @if (Model.Id == new Guid())
                            {
                                <input type="submit" value="Create" class="btn btn-primary" />
                            }
                            else
                            {
                                <input type="submit" value="Update" class="btn btn-warning" />
                            }
                        </div>
                        <div class="col-6 text-right">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

@section Scripts
{
    <script>
        var imageTag = document.getElementById('blah');
        imageTag.style.border = "2px solid";
        imageTag.style.paddingTop = "100px";
        imageTag.style.paddingBottom = "100px";
        imageTag.style.paddingLeft = "75px";
        imageTag.style.paddingRight = "75px";
        if (imageTag.src !== "#") {
            imageTag.style.removeProperty('padding');
            imageTag.style.removeProperty('border');
        }
        console.log(imageTag);
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('blah').style.removeProperty('padding');
                    document.getElementById('blah').style.removeProperty('border');
                    document.getElementById('blah').src = e.target.result;
                    document.getElementById('blah').width = 150;
                    document.getElementById('blah').height = 200;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
